/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');


body {
  margin: 0;
  padding: 0;
   font-family: "Love Ya Like A Sister", cursive;
   background-color: #B8A68A;
    overflow-x: hidden;
}



.barra-navegacao {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to right, #232A8C, #4A2E24);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    justify-content: space-between;
}

.topicos-barra {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
    font-size: 26px;
    list-style: none;
    margin-right: 50px;
}

.topicos-barra a {
 text-decoration: none;
 color: white;
}

.topicos-barra li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btn_entrar {
    background-image: linear-gradient(to right, #232a8c6f, #4a2e2460);
    color: white;
    padding: 10px;
    width: 170px;
    height: 50px;
    font-size: 26px;
    border: solid 1px #ffff;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    margin-top: 70px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.btn_entrar:hover {
    background-image: linear-gradient(to right, #232a8cd1, #4a2e24cb);
    backdrop-filter: blur(10px);
    cursor: pointer;
    transform: scale(1.05);
}



.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
   font-family: "Love Ya Like A Sister", cursive;
   
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
 
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  background-color: #F3E5D7;
  width: 100%;
  border-radius: 5px;
  height: 30px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  border: none;
  background-color: #F3E5D7;
  border-radius: 5px;
  height: 60px;
  padding: 5px  0 0 5px  ;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Love Ya Like A Sister", cursive;
  border: 0;
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  padding: 3px 15px;
  color: white;
  background-color: #23313C;
  width: 100px;
}

.div_btn_enviar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.publicacao-btn-editar {
  cursor: pointer;
   font-family: "Love Ya Like A Sister", cursive;
  border: 0;
  border-radius: 15px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #23313C;
  width: 100px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #23313C;
  padding: 20px;
  border-radius: 10px;
  width: 96%;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
  color: #1D2225;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #F3E5D7;
  border-radius: 10px;
  margin-bottom: 80px;
  width: 95%;

}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #B8A68A;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #B8A68A;
  height: 80vh;
  
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #B8A68A;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: #F3E5D7;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #B8A68A;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

.btn-chart {
   font-family: "Love Ya Like A Sister", cursive;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  background-color: #B8A68A;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
}

/*
.header-left {
  position: fixed;

  left: 0;
  z-index: 999;
  height: 100vh;
  width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 10px 2px rgba(81, 44, 16, 0.5);
   
  background-color: #F3E5D7;
}

*/ 

/*
.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #B8A68A;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

*/

.header-left {
  position: fixed;
  top: 70px; /* altura da navbar */
  left: 0;
  width: 17%;
  height: calc(100vh - 70px);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: #F3E5D7;
  box-shadow: 0 0 10px 2px rgba(81, 44, 16, 0.5);

  overflow: hidden;
}

.dash-right {
  margin-left: 17%;
  

  width: 83%;
  min-height: calc(100vh - 70px);

  background-color: #B8A68A;

  padding: 20px;
  box-sizing: border-box;
}


.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #1B1919;
  font-weight: 200;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 70%;
  background-color: #932A2A;
  border-radius: 20px;
  text-align: center;
  padding: 5% 5%;
}

.btn-nav-white {
  width: 70%;
  background-color: #932A2A;
  border-radius: 20px;
  text-align: center;
  padding: 5% 5%;
}

.btn-nav-white h3 {
  color: #fafafa;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  color: white;
}

.btn-logout {
  width: 70%;
  background-color: #23313C;
  border-radius: 20px;
  text-align: center;
  padding: 5% 5%;
  cursor: pointer;
}

.container h1 {
  color: #1D2225;
}

.container {
  display: flex;
  justify-content: left;
}