@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}

section {
    width: 100%;
    height: 100vh;
    background-color: #E0CAA8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.opcao {
    display: flex;
    align-items: center;
    gap: 8px;
}

header {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo_header {
    font-size: 40px;
}

h3 {
    color: #593125;
}

.titulo_pergunta {
    color: #593125;

}

.pergunta {
    color: black;
}

.div_pergunta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.pergunta_final {
    display: flex;
    flex-direction: column;
}

.opcoes_finais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#main_5 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.pergunta_decisiva {
    font-size: 25px;
    color: black;
}

.opcao_finalA {
    color: #670b1e;
    font-size: 20px;
}

.opcao_finalB {
    color: #0e509c;
    font-size: 20px;
}

.div_btn_enviar {

    display: flex;
    justify-content: center;
    padding: 20px;

}

#estilo_btn {
    display: flex;
    justify-content: center;
    padding: 10px 35px;
    background-color: #670b1e;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px #33050e;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

#estilo_btn:hover {
    background-color: #581320;
    cursor: pointer;
    transform: scale(1.05);
    color: #cacaca;
}

.div_opções_finais {
    display: flex;
}

.opcao_final {
    display: flex;
    align-items: center;
    gap: 8px;
}